<h2>Список наших парикмахеров:</h2>
<% @barbers.each do |barber| %>
	<p>
		<a href="/barber/<%= barber.id %>"><%= barber.name %></a>
	</p>
<% end %>
<br />
<hr />
<br />
<h2>Список наших клиентов</h2>
<% @clients.each do |client| %>
	<p>
		<%= client.name %>, <%= client.phone %>, <%= client.datestamp %>, <%= client.barber %>, <%= client.color %>
	</p>
<% end %>